.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  will-change: transform;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
