/* src/pages/ViewEditAuction.css */
.view-edit-auction-container {
  padding: 0px;
  background: #fff;
  border-radius: 8px;
}

.auction-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
}

input[readOnly], select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
   outline: 1px solid #333;

}

.form-actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn-save {
  background: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.btn-cancel {
  background: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}
